<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Code Snippets", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <li><%#= link_to "Kinds", kinds_path %></li>
        <li><%= link_to "New Work", new_work_path %></li>
      </ul>
    </div>
  </div>
</nav>
